input[type="text"],
input[type="password"],
input[type="tel"],
input[type="search"] {
	display: block;
  width: 100%;
  height: auto;
	// padding: 20px 23px 19px;
	border: $input-border;
	background-color: transparent;
	color: $black;
  font-family: $main-font-family;
  font-size: $input-font-size;
}
