
// Разрешения
$mobile-width: 280px;
$mobile-padding: 20px;
$mobile: $mobile-width + $mobile-padding + $mobile-padding;

$tablet-width: 708px;
$tablet-padding: 30px;
$tablet: $tablet-width + $tablet-padding + $tablet-padding;

// $laptop-width: 768px;
// $laptop-padding: 64px;
// $laptop: $laptop-width + $laptop-padding + $laptop-padding;

$desktop-width: 1170px;
$desktop-padding: 15px;
$desktop: $desktop-width + $desktop-padding + $desktop-padding;


// 1. Global
// ---------

$main-color: #14c0d4;
$secondary-color: #f68038;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #dadada;
$medium-gray: #929292;
$dark-gray: #333333;
$black: #0a0a0a;
$white: #fefefe;
$background-color: $white;
$border-color: #e5e5e5;

// 2. Typography
// -------------

$main-font-family: 'Roboto', "Helvetica", sans-serif;
$secondary-font-family: 'Play', 'Arial', sans-serif;
$font-color: #666666;
$font-weight: normal;
$font-size: 18px;
$desktop-font-size: 24px;
$line-height: 1.3;
$heading-font-family: 'UniSansHeavyCaps', 'Arial', sans-serif;
$heading-line-height: 1;
$heading-letter-spacing: 1.25px;
$h1-font-size: 48px;
$h2-font-size: 48px;
$h3-font-size: 36px;
$h4-font-size: 30px;
$h5-font-size: 16px;
$h6-font-size: 12px;


$small-font-color: $medium-gray;
$link-text-decoration: none;
$link-color: $font-color;
$link-color-visited: $link-color;
$link-color-hover: $white;
$link-color-active: $link-color-hover;

// 3. Input
// ----------

$input-width: 100%;
$input-font-size: 18px;
$input-padding: 9px 17px 10px;
$input-line-height: 1;
$input-border: 2px solid $border-color;
$input-border-color-hover: darken($border-color, 10%);
$input-background-color-hover: darken($border-color, 10%);
$input-placeholder-color: $black;


$checkbox-width: 33px;
$checkbox-height: 33px;
$checkbox-border: $input-border;
$checkbox-background-color: $white;
$checkbox-border-color-hover: $input-border-color-hover;
$checkbox-background-color-hover: $input-background-color-hover;

$radio-size: 50px;
$radio-border-radius: 50%;
$radio-border: $input-border;
$radio-background-color: $white;
$radio-border-color-hover: $input-border-color-hover;
$radio-background-color-hover: $input-background-color-hover;

