// Секция каталога товаров
.catalog {
  position: relative;
  z-index: 3;

  color: $white;

  background-color: #009fb3;

  // Чтобы скрылось подменю
  overflow: hidden;
  transition: 1s transform ease;

  @include df-tablet {
    z-index: 0;
    margin-bottom: 20px;
  }

  // Открытое меню каталога
  &--active {

    // Чтобы показывалось подменю
    overflow: visible;

    // Возвращаем к изначальной высоту списка
    & .catalog__list {
      max-height: 150vh;
    }
  }
}

// Хедер
.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 10px;

  background-color: #009fb3;
}

// Заголовок
.catalog__title {
  font-size: 30px;
  line-height: 1.1;

  @include df-laptop {
    font-size: 22px;
  }

  @include df-tablet {
    font-size: 24px;
  }
}

// Кнопка открытия/закрытия каталога
.catalog__btn {
  position: relative;

  flex-shrink: 0;
  width: 36px;
  height: 35px;

  background-color: #068292;

  transition: 0.2s all ease;

  &:hover,
  &:focus {
    background-color: darken($color: #068292, $amount: 5%);
  }
}

// Список каталога
.catalog__list {
  max-height: 0;

  overflow: hidden;

  transition: 0.8s all ease;
}

// Элемент списка
.catalog__item {
  &:not(:last-child) {
    border-bottom: 1px solid $main-color;
  }

  // Стили для подменю
  &--sub {
    &:not(:last-child) {
      border-bottom: 1px solid darken($color: $main-color, $amount: 10%);
    }

    & .catalog__link {
      background-color: darken($color: $main-color, $amount: 20%);
    }
  }


  &--more .catalog__link {
    // Иконка двойные стрелки
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 284.936 284.936' id='double-arrow' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M277.515 135.9L144.464 2.857C142.565.955 140.375 0 137.9 0c-2.472 0-4.659.955-6.562 2.857l-14.277 14.275c-1.903 1.903-2.853 4.089-2.853 6.567 0 2.478.95 4.664 2.853 6.567L229.268 142.47 117.062 254.677c-1.903 1.903-2.853 4.093-2.853 6.564 0 2.477.95 4.667 2.853 6.57l14.277 14.271c1.902 1.905 4.089 2.854 6.562 2.854 2.478 0 4.665-.951 6.563-2.854l133.051-133.044c1.902-1.902 2.851-4.093 2.851-6.567s-.949-4.664-2.851-6.571z'/%3E%3Cpath d='M170.732 142.471c0-2.474-.947-4.665-2.857-6.571L34.833 2.857C32.931.955 30.741 0 28.267 0S23.602.955 21.7 2.857L7.426 17.133C5.52 19.036 4.57 21.222 4.57 23.7c0 2.478.95 4.664 2.856 6.567L119.63 142.471 7.426 254.677c-1.906 1.903-2.856 4.093-2.856 6.564 0 2.477.95 4.667 2.856 6.57l14.273 14.271c1.903 1.905 4.093 2.854 6.567 2.854s4.664-.951 6.567-2.854l133.042-133.044c1.91-1.902 2.857-4.093 2.857-6.567z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
  }
}

// Ссылка меню
.catalog__link {
  display: block;
  padding-left: 20px;
  padding-right: 15px;

  font-size: 12px;
  color: $white;
  line-height: 39px;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: #009fb3;

  overflow: hidden;

  transition: 0.2s background-color ease;

  &:hover,
  &:focus {
    background-color: darken($color: #009fb3, $amount: 5%);
  }
}
