// Карточка отзыва
.review {
  // padding-bottom: 35px;

  &:hover .review__name,
  &:hover .review__date {
    color: $main-color;
  }

  &:hover .review__text {
    color: $white;

    background-color: $main-color;
  }
}

// Шапка отзыва
.review__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

// Имя и Фамилия
.review__name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: normal;
  color: $black;

  transition: 0.2s all ease;

  @include df-tablet {
    font-size: 22px;
  }
}

// Дата отзыва
.review__date {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  opacity: 50%;

  transition: 0.2s all ease;

  @include df-tablet {
    font-size: 18px;
  }
}

// Коментарий
.review__text {
  position: relative;

  margin: 0;
  padding: 15px 12px 15px 37px;

  font-size: 12px;
  line-height: 18px;

  transition: 0.2s all ease;

  @include df-tablet {
    font-size: 16px;
    line-height: 21px;
  }

  // Декоративные кавычки
  &::before {
    content: '"';
    position: absolute;
    top: 28px;
    left: 10px;

    font-size: 48px;
    font-family: $main-font-family;
    font-weight: 900;

    opacity: 25%;
  }
}
