// Секция преподвал
.subfooter {
  // margin-top: 50px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 2px dashed $light-gray;
  border-bottom: 2px dashed $light-gray;
}

// Контейнер секции
.subfooter__container {
}

// Строка
.subfooter__row {
  display: flex;
  align-items: flex-start;
  max-width: 50%;

  font-size: 14px;

  @include df-tablet {
    max-width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

// Заголовок строки
.subfooter__title {
  font-weight: 900;
  letter-spacing: 0.25px;
  color: $dark-gray;
}

// Список ссылок
.subfooter__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 24px;
  width: 100%;
}

// Элемент списка
.subfooter__item {
  margin-left: 30px;

  @include df-tablet {
    margin-left: auto;
  }
}

// Ссылка
.subfooter__link {
  color: $main-color;
  // word-wrap: none;
  white-space: nowrap;
  transition: 0.3s all ease;

  &:hover,
  &:focus {
    color: $black;
  }
}
