// Контейнер секции "О компании"
.about__container {
  position: relative;

  // Паттерн геометрических фигур
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(../img/geometry.svg);
    background-size: 45%;

    opacity: 0.05;
  }
}

// Враппер для создания двух псевдоэлементов
.about__wrapper {
  margin-bottom: 38px;
  padding: 40px 35px;

  font-size: 12px;
  color: $white;
  line-height: 20px;
  letter-spacing: 1.05px;

  background-color: #009cb0;

  @include df-tablet {
    padding: 20px 15px;
    font-size: 14px;
  }

  // Тень
  &::before {
    content: "";
    position: absolute;
    bottom: -120px;
    right: 15px;
    width: 255px;
    height: 325px;
    background-image: url(../img/about-girl-shadow.png);

    @include df-laptop {
      display: none;
    }
  }

  // Изображение
  &::after {
    content: "";
    position: absolute;
    bottom: -120px;
    right: 15px;
    width: 255px;
    height: 325px;
    background-image: url(../img/about-girl.png);

    @include df-laptop {
      display: none;
    }
  }
}

// Заголовок секции
.about__title {
  opacity: 0.3;
  margin-bottom: 25px;
}

// Тело секции
.about__body {
  display: flex;
  flex-wrap: wrap;
}

// Левый блок
.about__text {
  max-width: 50%;
  padding-right: 30px;

  @include df-tablet {
    max-width: 100%;
  }
}

// Правый блок
.about__concept {
  padding-left: 30px;
  max-width: 50%;

  // Прячем переносы строки
  @include df-laptop {
    & br {
      display: none;
    }
  }

  @include df-tablet {
    max-width: 100%;
    padding-left: 0;
  }
}

// Подзаголовок секции
.about__subtitle {
  font-family: $main-font-family;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
}

.about__list {
}

// Элемент списка
.about__item {
  position: relative;
  text-indent: 40px;

  // Стелки возле элементов списка
  &::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 284.936 284.936' id='double-arrow' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M277.515 135.9L144.464 2.857C142.565.955 140.375 0 137.9 0c-2.472 0-4.659.955-6.562 2.857l-14.277 14.275c-1.903 1.903-2.853 4.089-2.853 6.567 0 2.478.95 4.664 2.853 6.567L229.268 142.47 117.062 254.677c-1.903 1.903-2.853 4.093-2.853 6.564 0 2.477.95 4.667 2.853 6.57l14.277 14.271c1.902 1.905 4.089 2.854 6.562 2.854 2.478 0 4.665-.951 6.563-2.854l133.051-133.044c1.902-1.902 2.851-4.093 2.851-6.567s-.949-4.664-2.851-6.571z'/%3E%3Cpath d='M170.732 142.471c0-2.474-.947-4.665-2.857-6.571L34.833 2.857C32.931.955 30.741 0 28.267 0S23.602.955 21.7 2.857L7.426 17.133C5.52 19.036 4.57 21.222 4.57 23.7c0 2.478.95 4.664 2.856 6.567L119.63 142.471 7.426 254.677c-1.906 1.903-2.856 4.093-2.856 6.564 0 2.477.95 4.667 2.856 6.57l14.273 14.271c1.903 1.905 4.093 2.854 6.567 2.854s4.664-.951 6.567-2.854l133.042-133.044c1.91-1.902 2.857-4.093 2.857-6.567z'/%3E%3C/svg%3E");
    opacity: 0.5;
  }
}
