.main {
  // Толкаем основной контент сверху
  // т.к. хедер стал fixed
  @include df-tablet {
    margin-top: 75px;
  }
}
.container {
}
.main__container {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;

  @include df-tablet {
    flex-direction: column-reverse;
  }
}
.main__aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 23%;
  // margin-right: auto;
  // min-width: 23%;
  // margin-right: 30px;
  // background-color: mediumvioletred;

  @include df-tablet {
    width: 100%;
  }
}

.main__content {

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 75%;
  max-width: 75%;
  // padding-left: 30px;

  @include df-tablet {
    // width: 100%;
    max-width: 100%;
    flex-basis: auto;
    padding: 0;
  }
}

.main__search {
  margin-bottom: 22px;
}
.main__slider {
  margin-bottom: 30px;
  // background-color: green;
}
.main__goods {
  // background-color: blue;
}
.main__brands {
  // background-color: darkcyan;
}
.main__about {
  // background-color: lightcoral;
}
