@font-face {
  font-family: 'UniSansHeavyCaps';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  // font-display: swap;
  src: url('../fonts/unisansheavycaps.woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('../fonts/Roboto-Light.woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  // font-display: swap;
  src: url('../fonts/Roboto-Black.woff2');
}

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  // font-display: swap;
  src: url('../fonts/Play-Bold.woff2');
}
